# Documentations
sphinx
sphinx-gallery==0.3.1

# Progress bar 
tqdm

# Main
numpy
matplotlib
torch
torchvision
torchtext
torchaudio

librosa
mir_eval
visdom

# Others
# PyHamcrest
# bs4
# awscli==1.16.35
# flask

# PyTorch Theme
-e git+git://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme

ipython

# to run examples
pandas
scikit-image
pillow>=4.2
wget
